.editBtn
{
    padding: 3px;
    background-color: blue;
    color: white;
    margin-right: 2px;
    cursor: pointer;
}
.deleteBtn
{
    padding: 3px;
    background-color: red;
    color: white;
    cursor: pointer;
}